<div class="container">
  <h1 #miH1>Registro de Heroes</h1>
  {{ titulo }}
  <!-- <p>La suma es: {{ getSuma(5, 6) }}</p> -->
  <input
    [attr.maxLength]="getMaxLength()"
    [attr.disabled]="disableInput ? '' : null"
    type="text"
    [disabled]="disableInput"
    (keyup)="keyUp($event)"
  />

  <!-- <app-my-component4 [titulo]="titulo"></app-my-component4> -->
  <button
    [style.color]="color"
    [class.cambiar-color]="getChangeColor()"
    (click)="showMessage()"
  >
    GUARDAR
  </button>
</div>
